<div class="col-lg-6 col-md-8 col-xs-12" style="margin-bottom: 10%">

  <%= bootstrap_form_for(movie) do |f| %>
    <% if movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
        <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>

      </div>
    <% end %>

      <% if movie.image_file_name.nil?  %>
          <%= f.file_field :image %>
        <% else %>
          <%= image_tag(movie.image(:medium), class: "img-fluid") %>
          <br>
          <%= f.label "Change Image" %>
          <%= f.file_field :image, hide_label: true %>
      <%end %>




      <%= f.text_field :title %>
      <%= f.text_area :description  %>
      <%= f.text_field :movie_length %>
      <%= f.text_field :rating %>
      <%= f.text_field :year %>
      <%= f.text_field :genre %>
      <%= f.submit %>
  <% end %>
</div>

