
  <%= bootstrap_form_for([@movie,@review]) do |f| %>
    <% if review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
        <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <br>

      <%= f.label :rating %>
      <% if @review.rating.nil? %>
          <div id="star-rating"></div>
      <% else %>
          <div id="star-rating" ></div>
      <% end %>
      <br>
      <%= f.text_field :title %>
      <%= f.text_area :comment %>
      <%= f.submit %>
  <% end %>

  <script>
    $('#star-rating').raty({
      path: '/assets/',
      scoreName: 'review[rating]',
    });
  </script>

